.login-desktop{
  text-align: center;
  background: url("../../../Assets/images/loginbackground/loginbackground.png");
  background-repeat: no-repeat;
  background-size:cover;
}



.mobile-background{
    width: 100%;
    max-width: 760px;
    /* height: 100vh; */
    opacity:1;
    margin:0 auto;
}

.logo-login{
  text-align: center;
}

.logomobile{
    /* padding-top: 15%; */
    
    /* height:7.65%; */
    width:28.1%;

}
.university:focus-within > .ant-input-prefix span{
  color:#367bda;
}

.welcome-back{
    margin-top: 21px;
    
    text-align: center;
    font: var(--unnamed-font-style-normal) normal 600 26px/36px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 400 26px/36px Open Sans Semibold;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.login-to{
    margin-top: 20px;
    /* padding-left:18.4%; */
    text-align: center;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 21px/25px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 21px/25px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}


.login-form{
    padding-left: 10.4%;
    padding-right: 10.4%;

}


.emailinput {
     margin-top: 28.96%;
    /* width: 79.1%; */
    border-bottom: 2px solid #00000057;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:40%;
    background:transparent;   

  }
/* .emailinput:focus {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  

  }

  .emailinput:active {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  

  } */

  .emailinput:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  
    box-shadow: none;

  }

  .emailinput .ant-input{
    margin-left: 10px;
    background:transparent;
   }
  .mailico:focus{
    fill: #3B7EDB;
  }

  .passinput {
    margin-top: 7.24%;
   /* width: 79.1%; */
   border-bottom: 2px solid #000000;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   opacity:40%;
   background:transparent;   

 }
 .passinput .ant-input{
  margin-left: 10px;
  background:transparent;
 }

 .passinput:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  
    box-shadow: none;

  }


  .forgot-password{
    margin-top: 4.5px;
    /* margin-left: 55.5%; */
    /* td;ext-align: en */
    float:right;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: right;
    font: normal normal normal 13px/18px Open Sans;
    letter-spacing: 0px;
    color: #4285DD;
    opacity: 1;
  }


  .login-button-login{
    border-radius: 10px;
    width:100%;
    margin-top: 11.59%;
    padding: 7px 42.7%;
  background-color: #367bda;
}


.or{
    margin-top: 20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/22px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 0.4;
}

.dont-have-account{
    margin: 20px 0;
    font: var(--unnamed-font-style-normal) normal 600 15px/var(--unnamed-line-spacing-18) Raleway;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;

letter-spacing: 0px;
opacity: 1;
}