.estimated-isa{
    background: #E9F8FE 0% 0% no-repeat padding-box;
opacity: 1;
padding-top:40px ;
padding-bottom:45px ;

}
.scrollable-container {
    height: 100px;
    overflow-y: scroll;
  }
.affix-header{
    background:#E2EBFA;

}


.sticky-payment{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 36px/49px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 36px/49px Open Sans;
letter-spacing: 0px;
color: #4E8ADE;
opacity: 1;
}
.estimated-isa .title{
    text-align: center;
    margin-bottom: 0px;
}

.estimated-isa .sub-title{
    font: var(--unnamed-font-style-normal) normal 600 20px/27px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: centerd;
font: normal normal 600 20px/27px Open Sans;
letter-spacing: 0px;
color: #1A1A1A;
margin-top:30px;
opacity: 1;
}

.estimated-isa .percent{

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/27px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal bold 20px/27px Open Sans;
letter-spacing: 0px;
color: #4E8ADE;
opacity: 1;
margin-top: 20px;
}


.estimated-isa .isa-content{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/22px var(--unnamed-font-family-open-sans);
text-align: center;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0.32px;
color: #000000;
opacity: 0.6;
padding-top:20px;
padding-left:41px;
padding-right:41px;
}


.isa-title-content{
    font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-22)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 600 22px/30px Open Sans;
letter-spacing: 0px;
color: #1A1A1A;
opacity: 1;
margin-top: 30px;
}

.title-desc{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/22px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 0.8;


}

.disclaimer-title{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/20px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 13px/20px Open Sans;
letter-spacing: 0px;
color: #1A1A1A;
opacity: 0.5;
margin-top: 40px;
}

.disclaimer{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/14px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 11px/14px Open Sans;
letter-spacing: 0px;
color: #1A1A1A;
opacity: 0.4;
}