.feature-desc .isa-working{
    margin-top:20px;
}
.image .isa{
    margin-top:0px;
}

.how-we-predict .title{
    text-align: center;
}

.how-we-predict{
    padding:30px;
}

.how-we-predict .feature-desc{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/27px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 16px/27px Open Sans;
letter-spacing: 0px;
color: #9E9E9E;
opacity: 1;
margin-bottom: 40px;
margin-top:20px;
}

.feature-of-edly{
    background:#E9F8FE;
    padding:50px;
}

.icons-how{
    height:55px;
    width:55px;
}

.sub-title{
    font: var(--unnamed-font-style-normal) normal 600 14px/19px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 600 14px/19px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.why-is-isa .how{
    background: #ffffff;
}