.footer-student{
    background:#ffffff;
    padding:0px 6px;
    margin: 0px;

    height:94px;
    width:97%;
    text-align: center;
    top: 64px;
    position: relative;
}

.logo-footer-student{
    text-align: start;
    margin-left:30px;
}

.logo-footer{
    margin-top:8px;
}

.copy-footer-student{
    margin-top: 15px;
    text-align: center;
    float: right;
    font: var(--unnamed-font-style-normal) normal medium 12px/14px Raleway;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal medium 12px/14px Raleway;
letter-spacing: 0px;
color: #9E9E9E;
opacity: 1;
}
