.head-student{
    position: fixed;
    top:0;
    width: 100%;
    /* height:54px; */
    z-index: 1;
    width: 100%;
    background: #ffffff;
    padding-left:30px;
    padding-right:30px;

}
.logo-header-student{
    text-align: start;
}

.menu-header-student{
    text-align: end;
}

.logo-header{
    margin-top:15%;
}

.menu-header{
    margin-top:20px;
    
}