.forgot-password-desktop{
    background: url("../../../Assets/images/loginbackground/loginbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
  
  }
  
  
  
  
  .forgot-password-background{
      width: 100%;
      
      opacity:1;
      max-width: 760px;
      margin:0 auto;
  }

  .set-password-1{
    margin-top: 21px;
    margin-bottom: 28.96%;
    text-align: center;
    font: var(--unnamed-font-style-normal) normal 600 26px/36px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 600 26px/36px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

  .password-form{
      padding:0px 43px;
  }
  .email-input-password1 {
    /* margin-top: 28.96%; */
   /* width: 79.1%; */
   border-bottom: 2px solid #00000057;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   opacity:40%;
   background:transparent;   

 }

 .email-input-password1:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  
    box-shadow: none;

  }

  .email-input-password1 .ant-input{
    margin-left: 10px;
    background:transparent;
   }


   .email-input-password2 {
    /* margin-top: 28.96%; */
   /* width: 79.1%; */
   border-bottom: 2px solid #00000057;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   opacity:40%;
   background:transparent;   

 }

 .email-input-password2:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  
    box-shadow: none;

  }

  .email-input-password2 .ant-input{
    margin-left: 10px;
    background:transparent;
   }

   .submit-button-password{
    border-radius: 10px;
    width:100%;
    margin-top: 51.77%;
    padding: 7px 42.7%;
  background-color: #367bda;
}

.login-now{
    font: var(--unnamed-font-style-normal) normal 600 15px/var(--unnamed-line-spacing-18) Raleway;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
margin:69px 0px;
letter-spacing: 0px;
opacity: 1;
}