.signup-desktop{
  background: url("../../../Assets/images/signupbackground/signupbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;

}

.university:focus-within > .ant-input-prefix .custom-icon{
  color:#367bda;
}


.signupBackground{
    width: 100%;
    /* height: 100vh; */
    opacity:1;
    max-width: 760px;
    margin:0 auto;
}

.signup-form .ant-form-item{
    margin-bottom:0px
}

.logo-signup{
  text-align: center;
}

.welcome-signup{
    margin-top: 21px;
    
    text-align: center;
    font: var(--unnamed-font-style-normal) normal 600 26px/36px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 400 26px/36px Open Sans Semibold;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.create-your{
    margin-top: 20px;
    /* padding-left:18.4%; */
    text-align: center;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 21px/25px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 21px/25px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}


.signup-form{
    padding-left: 10.4%;
    padding-right: 10.4%;

}


.firstinput  {
    margin-top: 36.57%;
    margin-bottom: 0px;

   /* width: 79.1%; */
   border-bottom: 2px solid #00000057;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   opacity:40%;
   background:transparent;   

 }
 .firstinput .ant-input{
  margin-left: 10px;
  background:transparent;
 }

 .firstinput:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1; 
    box-shadow: none; 
   background:transparent !important;   
    

  }



 .email-input {
    margin-top: 30.5px;
    margin-bottom: 0px;

   /* width: 79.1%; */
   border-bottom: 2px solid #00000057;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   opacity:40%;
   background:transparent;   
   

 }

 .email-input .ant-input{
  margin-left: 20px;
  background:transparent;
 }

 .email-input:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  
    box-shadow: none;

  }
  .counrty-code{
    position: relative;
  }
.countrycode{
  display: inline-block;
}

  .counrty-code:active .countrycode:active{
      color: black;
  }
.custom-icons{
  position: absolute;
  left: 0;
  margin: 0 10px;
  bottom: 12px;
  color: #C0C5C0;
  font-size: 16px;
}
.phone-input:focus-within ~ .custom-icons{
  color: #3B7EDB !important;
}

.phone-input:focus-within > .ant-input-prefix .mail-icon{
  color: #3B7EDB !important;
}

.firstinput:focus-within > .ant-input-prefix .mail-icon{
  color: #3B7EDB !important;
}

 .phone-input {
    margin-top: 30.5px;
    margin-bottom: 0px;
    position: relative;

   /* width: 79.1%; */
   border-bottom: 2px solid #00000057;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   opacity:40%;
   background:transparent;   

 }


 .phone-input .ant-input{
  margin-left: 10px;
  background:transparent;
 }

 .phone-input:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1;  
    box-shadow: none;

  }

  .phone-input .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    margin-left: 10px;
    border:none;
    background:transparent;
    
   }
   .phone-input .ant-select-focused{
    margin-left: 10px;
    background:transparent;
    border: none;
   }


  .check-box{
      padding-left: 13px;
      text-align: start;
        margin-top:40px;
      text-align: left;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 13px/18px Open Sans;
    letter-spacing: 0px;
    color: #6A738D;
    opacity: 1;
  }

  .read{
      float:right;
  }

  .signup-button-signup{
    border-radius: 10px;
    /* width:85.4%; */
    margin-top: 40px;
    padding: 7px 42.7%;
  background-color: #367bda;
}

.or{
    margin-top: 20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/22px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 0.4;
}

.already-have-account{
    margin: 20px 0px;
    font: var(--unnamed-font-style-normal) normal 600 15px/var(--unnamed-line-spacing-18) Raleway;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;

letter-spacing: 0px;
opacity: 1;
}

.check-box p{
    margin-bottom:0px;
}