.form{
    /* width: 544px;
  height: 837px; */
  padding: 13px 9.3%px 0 9.7%;
  margin-left:9.7%;

  background-color: #ffffff;
  border: solid 1px #ffffff;
  padding:  53px 50px 43px 50px;
}


.heading {
    /* width: 448px;
    height: 80px; */
    margin: 0 8px 32px 0;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #242a32;
    text-align: start;
    /* padding-top:53px ;
    padding-left: 48px; */
  }

.inputs label{
    font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #898d96;

}

.lock{
    border-radius: 50%;
    background: #cedaed;
    /* width: 44px;
  height: 44px; */
  padding: 2px 12px 12px 0;
  text-align: start;
  margin-right:10px;

}

.lock img{
        width: 20px;
        height: 20px;
        margin: 10px 0 0 12px;
        object-fit: contain;
}

.info-text{
        /* width: 366px;
        height: 48px; */
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #242a32;
        text-align: start;
        padding-left: 10px;
    
}

.check-signup {
    /* width: 15px; */
    /* height: 11px; */
    border-radius: 0.5px;
    background-color: #ffffff;
    margin-top:24px;
    /* padding-left: 10px; */
  }

.check-text-signup{
  /* width: 400px; */
  /* height: 48px; */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight:bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #242a32;
  text-align: start;
  padding-left:10px;
  margin-top:24px;
} 

.signup-investor-signup{
  text-align: center;
  /* padding: 14px 32px; */
}

.signup-investor{
   /* width: 81.5%; */
   text-align: center;
  height: 50px;
  /* padding:14px 32px; */
  /* margin: 0 0 31px; */
  padding: 5px 45% 14px;
  border-radius: 25px;
  background-color: #367bda;
}

.already {
  /* width: 205px; */
  /* height: 24px; */
  /* margin: 31px 117px 0 122px; */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #242a32;
  margin-top:31px;
  /* padding-bottom:100px ; */
}


.righttitle{
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.93;
  letter-spacing: normal;
  color: #242a32;
}

.money{
  /* width: 80px;
  height: 80px; */
  margin-top:48px;
  object-fit: contain;
}

.diverse{
  margin-top:20px;
  object-fit: contain;

}

.rightcd{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight:600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: #242a32;
  text-align: start;
  margin-left:17px;
}

.rightsub{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.19;
  letter-spacing: normal;
  color: #242a32;
  text-align:start;
  margin-left:17px;

}

.rightcolumn{
  padding-top:37px;
  padding-left:8.19%;

}
.right-divider{
  color: #c3c6cd;
}

.are-you-and {
  /* width: 341px;
  height: 45px; */
  /* margin: 16.5px 270px 6px 145px; */
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #242a32;
}

.edly-works {
  /* width: 390px;
  height: 81px; */
  /* margin: 6px 221px 84px 145px; */
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #242a32;
}

.edly-works a {
  font-weight: 600;
  color: #4492fc;
}