.welcome-desktop{
    background: url("../../../Assets/images/background/background_welcome.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.arrow-back{
    
    position: absolute;
    top:9%;
}

.go-back{
    /* position: absolute; */
    padding-top: 84px;
    padding-left: 30px;
    text-align:left;
    position: relative;
    /* padding-right: 79%; */
}

.back-go{
    position: absolute;
    top:0;
    color: #4E8ADE;
    padding-left: 11px;
}



.mobileBackground{
    width: 100%;
    /* height: 100vh; */
    opacity: 1;
    margin:0 auto;
    max-width: 760px;
}

.logodiv{
    padding-left: 64%;
    /* height:7.65%; */

}

.logo-welcome{
    text-align: center;
  }
.logowelcome{
/* padding-top:15%; */
width:28.1%;  
/* top: 231px;
left: 148px; */
/* margin-top: 50%; */
/* margin-left: 50%; */
opacity: 1;
text-align: center;
}

.welcome-welcome{
    margin-top: 21px;
    /* padding-left:35.19%; */
    font: var(--unnamed-font-style-normal) normal 600 26px/36px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 400 26px/36px Open Sans Semibold;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}


.invested{
    /* padding-left:17.47%; */
    margin-top:20px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 21px/25px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 21px/25px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.login-welcome{
    text-align: center;
}

.login-button{
    border-radius: 10px;
    width:85.4%;
    margin-top: 266px;
  padding: 5px 32px 14px;
  text-align: center;
  background-color: #367bda;
}

.signup-welcome{
    text-align: center;
}

.signup-button{
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 10px 8px 8px 8px;
    border:1px solid #3B7EDB;
    width:85.4%;
    background: transparent;
    color:#3B7EDB;
    
 
  /* background-color: #367bda; */
}