.contain {
    margin: 76px 118px 308px 151px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .rightcol {
    padding-top:51px;
    padding-left:58px;
    /* margin: 0 50px 13px 10px; */
    object-fit: contain;
    
  }
  .mail{
      margin-bottom: 13px;
  }


  .Check-Email {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #242a32;
    margin-bottom: 16px;
  }

  .Thank-you-for-taking {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #242a32;
    text-align: start;
  }


  .trouble {
    margin: 37px 6px 0 0;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.19;
    letter-spacing: normal;
    color: #242a32;
  }
  
  .trouble a {
    font-weight: 600;
    color: #367bda;
  }


  .checkimage { 
    margin: 0px;
    text-align:end;
    object-fit: contain;
  }