.desktop-landing-1 {
  top: 64px;
  position: relative;
}

.resource-media-details-title-1 {
  margin-bottom: 0;

  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 400 18px/25px Open Sans Semibold;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.resource-media-details-content {
  padding: 0px 30px;
}
.edly-admin {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 13px/30px Open Sans;
  letter-spacing: 0px;
  font-weight: 400;
  color: #000000;
  opacity: 1;
}
.title-resources {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 18px/30px Open Sans SemiBold;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.read-2 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal normal 13px/30px Open Sans;
  letter-spacing: 0px;
  font-weight: 400;
  color: #000000;
  opacity: 0.46;
  float: right;
}

.date-20 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-13) /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 13px/30px Open Sans;
  letter-spacing: 0px;
  color: #010101;
  font-weight: 400;
  opacity: 1;
}

.content-edly-admin {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 18px/24px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 18px/24px Open Sans;
  letter-spacing: 0px;
  color: #9e9e9e;
  opacity: 1;
}
.footer-links {
  padding: 0px 40px;
}
