.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@media(min-width:769px){
  .App{
    transform: scale(0.7);
    transform-origin: top left;
    width: 142.86%;
    height: 100vh;
  }
}
@media(max-width:768px){
  .App{
    /* transform: scale(0.6);
    transform-origin: top left; */
    /* width: 166.67%; */
    height: 100vh;
  }
}
@media(min-width:1310px){
  .App{
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%;
    height: 100vh;
  }
}
@media(min-width:1440px){
  .App{
    transform: scale(1);
    transform-origin: top left;
    width: 100%;
    height: 100vh;
  }
}
/* @media(min-width:1025px){
  .App{
    transform: scale(0.9);
    transform-origin: top left;
    width: 125%;
    height: 100vh;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
