.passwordcol {
    margin: 62px 31.1% 0;
    /* margin: 62px 31.1% 0 31.1%; */
    padding-left: 50px;
    padding-right:50px;
    padding-top:24px;
    border: solid 1px #ffffff;
    background: #ffffff;
    text-align:center;
  }

  .lock{
    border-radius: 50%;
    background: #cedaed;
    width: 44px;
  height: 44px;
  padding: 2px 12px 12px 0;
  text-align: center;

}

.lock img{
        
        object-fit: contain;
}

.lockt{
    /* width: 448px;
    height: 80px; */
    margin: 15px 0 40px;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #242a32;
    
}

.passwordquality {
  margin: 90px 0 27px 1px;
  padding: 16px 201px 12px;
  border: solid 1px #83c375;
  background-color: #c1e1b9;
}

.quality {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 16px 38.4px;
  color: #242a32;
}


.passmessage {
  
  margin: 27px 0 51px;
  padding: 19px 77px 21px 12px;
  border-radius: 10px;
  background-color: #f1f6fe;
}

.bulb {
  margin: 7px 9px 9px 0;
  object-fit: contain;
  color:#cedaed;

}



.message {
  margin: 0 0 0 9px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #242a32;
  text-align:start;
}

.sign{

  margin: 0 0 31px;
  padding: 5px 32px 14px;
  border-radius: 25px;
  background-color: #367bda;
}

.create {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}