
.Navigation-Header-Menu-Items-Signed-Out {
  width: 580px;
  height: 32px;
  margin: 16px 0 18px 673px;
  padding: 0 0 0 2px;
}
.header_container {
  /* width: 1440px; */
  height: 100px;
  padding: 0 0 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), inset 0 -1px 0 0 rgba(209, 209, 209, 0.5);
  background-color: #ffffff;
}

.head{
  padding:0 31px 0px 40px;
  width: 100%;
  height: 100px;
}
.headnav{
  display: flex;
  justify-content:flex-end;
}
.header-links{
  padding: 0 17px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #367bda;
}
.Login{
  font-weight: bold;
}
.signUp{
  background-color: #367bda !important;
  color:'#ffffff' !important;
  font-weight: bold ;
}