.status{
    padding:30px;
    margin-top: 40px;
}
.status-list{
    padding:0px 30px;
}

.status-title{
    font: var(--unnamed-font-style-normal) normal 600 18px/var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal 400 18px/30px Open Sans SemiBold;
letter-spacing: 0px;
color: #FFFFFF;
}

.status-subtitle{
    font: var(--unnamed-font-style-normal) normal 600 16px/23px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal 400 16px/23px Open Sans SemiBold;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top:20px;
}

.status-amount{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/33px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 16px/33px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top:74px;
}

.view-status{

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: right;
font: normal normal normal 13px/18px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}