.first-input  {
    width:100%;
    /* text-indent: 20px; */
    margin-bottom: 0px;
   border-bottom: 2px solid #00000057;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   opacity:40%;
   background:transparent;   
   text-align: start;

 }
 .first-input .ant-input{
  margin-left: 10px;
  background:transparent;
 }

 .first-input:focus-within {
    border-bottom:3px solid #3B7EDB;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity:1; 
    box-shadow: none; 
   background:transparent !important;   
    

  }

  .first-input .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    margin-left: 10px;
    border:none;
    background:transparent;
    
   }
   .first-input .ant-select-focused{
    margin-left: 10px;
    background:transparent;
   }
