.agreement {
  font: var(--unnamed-font-style-normal) normal 600 18px/24px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0px;
  color: #4e8ade;
  opacity: 1;
}

.agreement-sub {
  text-align: start;
  font: normal normal 600 10px/14px Open Sans;
  letter-spacing: 0px;
  color: #4e8ade;
  opacity: 1;
}

.downlaod {
  height: 30px;
  width: 30px;
  float: right;
}

.isa-detailing {
  padding: 32px 0px;
}

.isa-detailing .title {
  text-align: start;
}
.isa-detailing .isa-subtitle {
  font: var(--unnamed-font-style-normal) normal 600 16px/22px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 19px;
  margin-bottom: 10px;
}

.isa-amt {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    24px/28px var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 24px/28px Open Sans;
  letter-spacing: 0px;
  color: #4e8ade;
  opacity: 1;
  margin-top: 20px;
}

.abt-cont {
  font: var(--unnamed-font-style-normal) normal 600 14px/19px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 14px/19px Open Sans SemiBold;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.8;
}
