.desktop-my-isa-student {
  padding-top: 70px;
  width: 100%;
}

.profile-content-isa {
  max-width: 760px;
  margin: 0 auto;
  padding: 0px 30px;
}

.student-profile-image {
  text-align: center;
}
.student-profile-image .profile-image {
  height: 127px;
  width: auto;
}

.edit {
  z-index: 1;
  margin-bottom: 104px;
  margin-left: -35px;
  height: 22px;
  width: auto;
}

.student-name {
  font: var(--unnamed-font-style-normal) normal 600 28px/38px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 600 28px/38px Open Sans;
  letter-spacing: 0px;
  color: #4d4d4d;
  opacity: 1;
  margin-top: 15px;
}

.student-mail {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 20px/27px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #4d4d4d;
  opacity: 0.52;
}
.student-details {
  padding: 0px 30px;
}
.status-lists{
  margin-top: 30px;
}
.status-isa {
  background: #3b7edb 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 12px #0000001a;
  border-radius: 10px;
  opacity: 0.9;
  padding: 15px;
  margin-top:20px
}

.reg-no {
  text-align: left;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/22px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.application-status {
  background: #fff;
  border-radius: 5px;
  display: inline;
  padding: 2px 8px;
}

.red-dot {
  color: #e25a5a;
  display: inline-block;
  /* font-size: 8px; */
}
.application-status p {
  float: right;
  margin: 0;
}

.student-amount {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 24px/28px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 10px;
}

.university-date-row {
  margin-top: 28px;
}

.student-university {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.student-isa-date {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 12px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  float: right;
}

.student-details-form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 24px #0000001a;
  border-radius: 10px;
  opacity: 1;
  padding: 26px;
  margin-top: 30px;
}

.form-icon-background {
  background-color: #d9e7f8;
  /* opacity: 0.2; */
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 15px;
}

.form-icon {
  height: 20px;
}

.collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 20px 16px;
}
.collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  top: 30%;
}

.student-form-title {
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-22) /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 400 22px/30px Open Sans Semibold;
  font-weight: semi-bold;
  letter-spacing: 0px;
  color: #4d4d4d;
  opacity: 0.8;
  padding: 8px 0;
  margin-left: 20px;
  margin-bottom: 0;
}

.isa-stats-my {
  text-align: center;
  margin-top: 50px;
  letter-spacing: var(--unnamed-character-spacing-0);

  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0px;
  color: #4e8ade;
  opacity: 1;
}
.isa-stats-my .isa-no {
  font: normal normal bold 22px/30px Open Sans;
}
.drafts {
  text-align: left;
  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0px;
  color: #4d4d4d;
  opacity: 1;
  margin-top: 30px;
}

.drafted {
  border: 1px solid #4e8ade;
  border-radius: 10px;
  opacity: 1;
  padding: 18px;
  margin-top: 30px;
}

.draft-date {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #4e8ade;
  opacity: 1;
}

.edit-draft {
  background: #4e8ade 0% 0% no-repeat padding-box;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 11px/15px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  border-radius: 5px;
  float: right;
  padding: 2px 13px;
  text-transform: capitalize;
}
.draft-amount-row {
  margin-top: 29px;
}

.continue-app {
  width: 100%;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 400 14px/19px Open Sans SemiBold;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 30px;
  border-radius: 5px;
}

.draft-isa-amount {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 18px/28px Open Sans;
  letter-spacing: 0px;
  color: #006aff;
  opacity: 1;
}

.draft-school {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 13px/22px Open Sans;
  letter-spacing: 0px;
  color: #4e8ade;
  opacity: 1;
  float: right;
}

.first-input {
  width: 100%;
  margin-bottom: 0px;
  border-bottom: 2px solid #00000057;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  opacity: 40%;
  background: transparent;
}
.first-input .ant-input {
  margin-left: 10px;
  background: transparent;
}

.first-input:focus-within {
  border-bottom: 3px solid #3b7edb;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  opacity: 1;
  box-shadow: none;
  background: transparent !important;
}

.first-input .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  margin-left: 10px;
  border: none;
  background: transparent;
}
.first-input .ant-select-focused {
  margin-left: 10px;
  background: transparent;
}

.save {
  background: #3b7edb 0% 0% no-repeat padding-box;
  border-radius: 10px;
  width: 100%;
  margin-top: 25px;
}

.check-button {
  width: 100%;
  padding: 0px 30px;
}

.panel-header {
  display: inline-flex;
}
