.go-back-no{
    padding-top:20px;
    float: left;
}

.our-partners{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-22)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal bold 22px/30px Open Sans;
letter-spacing: 0px;
color: #4E8ADE;
opacity: 1;
margin-top: 58px;
}

.we-are-sorry{
    font: var(--unnamed-font-style-normal) normal 600 18px/25px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 600 18px/25px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
margin-top: 15px;
}

.us-citizen{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/21px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal normal 18px/21px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 0.5;
margin-top:10px;
padding-left:30px;
padding-right:30px;
}

.not-eligible{
    padding:0px 30px;
}