.desktop-landing {
  text-align: center;
  top: 64px;
  position: relative;
}
.main-content {
  width: 100%;
  /* max-width: 760px; */
  /* height: 100vh; */
  opacity: 1;
  margin: 0 auto;
}

.landing-image {
  width: 100%;
}

.focus-column {
  background: url("../../../Assets/images/focus-background.png");
  background-position: 30px 30px;
  background-size: 35%;
  background-repeat: no-repeat;
}

.focus {
  margin-top: 19.75%;
  margin-left: 18.34%;
  margin-right: 14%;

  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-22) /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 22px/30px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.check-now {
  background: #3b7edb 0% 0% no-repeat padding-box;
  border-radius: 10px;
  width: 100%;
  margin-top: 9.2%;
  font: normal normal 600 18px/24px Open Sans;
  color: #ffffff;
  height: 50px;
  vertical-align: middle;
}
.checkNow-icon {
  margin-right: 10px;
  font-size: 24px;
}
.checkNow-icon-active {
  color: #4285dd;
}
.checkNow-placeholder {
  font: normal normal normal 18px/25px Open Sans;
  letter-spacing: 0px;
}

.check-button {
  width: 100%;
  padding: 0px 30px;
}

.what-is-isa {
  margin-top: 45px;
  margin-bottom: 0px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-22) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.what-is-isa-desc {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  text-align: center;
  font: normal normal normal 16px/27px Open Sans;
  letter-spacing: 0px;
  color: #6a738d;
  opacity: 1;
}

.features {
  background: #e9f8fe;
  margin-top: 40px;
  padding: 40px 20px;
}

.features .title {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-22) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal bold 22px/30px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 40px;
  margin-bottom: 30px;
}

.image {
  margin-top: 50px;
  text-align: center;
}
.image .image-icon {
  height: 60px;
  width: auto;
  margin: 0px;
}

.feature-name {
  margin-top: 20px;
  font: var(--unnamed-font-style-normal) normal 600 20px/20px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal 600 20px/20px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}

.feature-desc {
  margin-top: 15px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/27px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal normal 16px/27px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.6;
}

.isa-form {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 10px;
  opacity: 1;
  padding: 30px 20px;
  margin: 30px 23px 50px;
}
.custom-icon-wrapper{
    position: relative;
}
.custom-icons{
    position: absolute;
    left: 0;
}
.custom-icons-active{
    color: #3b7edb;
}

.university {
  width: 100%;
  size: inherit;
  border-bottom: 2px solid #00000057;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  opacity: 40%;
  background: transparent;
  height: 42px;
  text-align: start;
  font: normal normal normal 17px/25px Open Sans;
}
.date_wrapper {
  padding-left: 50px;
}
.university .ant-picker-input > input {
  font: normal normal normal 17px/25px Open Sans;
}
.university input{
    font: normal normal normal 17px/25px Open Sans;
  }
.university .ant-input-prefix span{
    font-size: 24px;
  }
.placeholder {
  text-align: left;
}
.university .ant-select-selector .ant-select-selection-search {
  left: 50px !important;
}
.university .ant-select-selector {
  padding: 0 50px !important;
}

.university:focus-within {
  border-bottom: 3px solid #3b7edb;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  opacity: 1;
  box-shadow: none;
}
.university-focus-within {
    border-bottom: 3px solid #3b7edb;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    opacity: 1;
    box-shadow: none;
  }

.custom-icons {
  font-size: 24px;
}
.university:focus-within ~ .custom-icons {
  color: #3b7edb !important;
}

.university .ant-input {
  margin-left: 10px;
  background: transparent;
}

.university .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  margin-left: 10px;
  border: none;
  background: transparent;
}
.university .ant-select-focused {
  margin-left: 10px;
  background: transparent;
}

.why-is-isa {
  background: transparent linear-gradient(180deg, #ffffff 0%, #e3e9ef 100%) 0%
    0% no-repeat padding-box;
  padding-bottom: 10px;
}

.why-is-isa-desc {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font: normal normal normal 16px/27px Open Sans;
  letter-spacing: 0px;
  color: #6a738d;
  opacity: 1;
}

.steps {
  padding: 0px 50px;
  background: none !important;
}

.steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon {
  background: #3b7edb;
  font: normal normal 400 26px/40px Open Sans SemiBold;
  width: 40px;
  height: 40px;
  border: 0;
}
.steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  border: 0;
}
.steps .ant-steps-item-wait .ant-steps-item-icon {
  background-color: #e9f8fe;
  border: 0;
  width: 40px;
  height: 40px;
}
.steps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #3b7edb;
  vertical-align: bottom;
  font: normal normal 400 26px/40px Open Sans SemiBold;
}
.steps .ant-steps-item-tail::after {
  background: #3b7edb !important;
  margin: 10px 2px;
}

.step {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-22) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 22px/30px Open Sans;
  letter-spacing: 0px;
  color: #3b7edb;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
  }
}

.step-desc {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 16px/23px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/23px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  animation: 1s ease 0s 1 slideFromTop;
}
.step-desc .ant-image {
  margin-bottom: 10px;
}

.table {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  margin: 40px 20px 20px;
  font: var(--unnamed-font-style-normal) normal 600 14px/20px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 14px/20px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  /* opacity: 0.69; */
  /* padding:15px 11px; */
}

.table-title {
  border-bottom: 1px solid #cacaca;
}
.table-title .private-loans {
  border-radius: 0 10px 0 0;
}

.last {
  border-radius: 0 0 10px 0;
}
.table .name .title {
  color: #000000;
}

.table .name {
  padding: 15px 11px;
  font: normal normal 600 14px/20px Open Sans Semibold;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.69;
}
.table .edly {
  background: #3b7edb;
  /* height:100%; */
  padding: 15px 11px;
  color: #fff;
  text-align: left;
  font-weight: normal;
  /* color:#fff; */
}

.table .private-loans {
  background: #ffffff;
  padding: 15px 11px;
  color: #7e7e7e;
  text-align: left;
  font-weight: normal;
  border-left: 1px solid #cacaca;
}
.table .private-loans .title {
  color: #7e7e7e;
}
.table .title {
  color: #fff;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/20px var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 16px/20px Open Sans;
  letter-spacing: 0px;
  margin: 0px;

  /* color: #000000; */
  opacity: 1;
  /* vertical-align: top; */
}

.image-3 {
  text-align: center;
  padding: 30px;
}

.landing-image-3 {
  width: 100%;
  border-radius: 10px;
}
