@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
.Background {
    /* width: 1440px; */
    /* height: 912px; */
    /* margin: 1087px 0 0; */
    padding: 64px 8.33%;
    background-color: #242a32;
  }

  .logo {
    width: 84px;
    height: 42px;
    margin: 0 171px 24px 1px;
    background:transparent;

  }
  .footcol {
    /* width: 160px; */
    /* height: 30px; */
    margin: 0 0 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #898d96;
    text-align: start;
    /* padding: 20px; */
  }

  .footlogotext {
    /* width: 256px; */
    /* height: 24px; */
    margin: 24px 0 4px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #c3c6cd;
    text-align: start;
  }
  .footerLinks{
    color:#ffffff !important;
    font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  }
  .footer-links-div{
    margin-bottom: 12px;
    text-align: left;
  }
  /* .footer-links-div:last-child .footerLinks{
    color:#4492fc !important;
  } */

  .links{
      text-align: left;
  }

  .footerButton {
    width: 40px;
    height: 40px;
    margin: 0px 8px 0 0;
    padding: 8px;
    border: solid 1px #ffffff;
    background-color: #242a32;
    border-radius: 50%;
    display: inline-block;
    
  }
.contact{
    width: 117px;
  height: 32px;
  margin: 30px 139px 0 0;
  padding: 3px 23px;
  border-radius: 25px;
  background-color: #367bda;
}

.conta{
    width: 65px;
  height: 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.footdivider{
  border-top:1px solid rgba(137, 141, 150, 0.35);
  /* width: 1200px; */
  padding-top: 10px;
}

.terms{
  margin-bottom:  32px;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  text-align: start;
}
.terms-text{
  margin-right: 26px;
}

.copy{
  text-align: start;
  color: #898d96;
  font-family: 'Open Sans',sans-serif;

}

.right{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #898d96;
    /* padding-left: 120px;
    padding-right: 120px; */
    padding-top: 24px;
    text-align: justify;
}