body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("./Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("./Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url("./Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("./Open_Sans/OpenSans-Light.ttf");
}

