@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.menu-background{
    background: url("../../../../Assets/images/nav-background.png");
  background-repeat: no-repeat;
}
.student {
  
  /* background-size: cover; */

  animation: 0.5s ease-out 0s 1 slideFromRight;
}

.student-title {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-profile {
  height: 60px;
  width: 60px;
}
.nav-student-name {
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-22) /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 600 22px/30px Open Sans;
  letter-spacing: 0px;
  color: #3b7edb;
  opacity: 1;
  position: relative;
}

.logout {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 14px/19px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #3b7edb;
  opacity: 1;
  vertical-align: middle;
  position: absolute;
  top: 30%;
  right: 0;
}

.profile-head {
  margin-top: 21px;
}

.nav-name {
  /* position: absolute; */
  top: 0%;
}

.navmenu {
  margin-top: 21px;
  background: transparent;
}

.navmenu .ant-menu-sub.ant-menu-inline {
  background: transparent;
}
.right_nav-icon{
  font-size: 22px !important  ;
  opacity: 60%;

}
.right_nav-text{
  font: normal normal 400 22px/30px Open Sans;
  margin-top: 0;
  color: #00000080 !important;
}
.right_nav-subtext{
  font: normal normal 400 20px/50px Open Sans;
}
.right_nav-text .ant-menu-submenu-title{
  color: #00000080;
}
.right_nav-text .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: #00000080 !important;
  left: 50%;
}
