.go-back-change{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 13px/18px Open Sans;
letter-spacing: 0px;
color: #4E8ADE;
opacity: 1;
margin-top: 30px;
}

.funding-tab{
    margin-top: 14px;
    text-align: center;
    vertical-align: baseline;
}
.funding{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 36px/49px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal bold 36px/49px Open Sans;
letter-spacing: 0px;
color: #4E8ADE;
opacity: 1;
}

.funding-graph{
    padding-top:25px;
    padding-left:19px;
    padding-right:30px;
}
.isa-variable{
    margin-top:40px;
}
.isa-variable .title{
    margin-top: 0px;
    text-align: start;
}


.isa-percent{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 24px/33px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 24px/33px Open Sans;
letter-spacing: 0px;
color: #4E8ADE;
opacity: 1;
/* display: inline-flex ; */
}


.statistic{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 10px/14px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 10px/14px Open Sans;
letter-spacing: 0px;
color: #11F09F;
opacity: 1;
margin-left: 5px;
/* display:inline-grid; */
}

.stat-title{
    font: var(--unnamed-font-style-normal) normal 600 15px/20px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal 600 15px/20px Open Sans;
letter-spacing: 0px;
color: #1A1A1A;
opacity: 1;
}

.isa-percent-1{
    display: flex;
}

.isa-title-content-1{
    font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-22)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font: normal normal 600 22px/30px Open Sans;
letter-spacing: 0px;
color: #1A1A1A;
opacity: 1;
margin-top: 2px;
}
.plus{
    float: left;
}

.minus{
    float:right
}

.view-full-terms{
    float:right;
}